[Unit]
Description=My webapp Web Application
ConditionPathExists=/opt/csye6225/webapp/
After=network.target cloud-init.service

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp
ExecStart=/usr/bin/node /opt/csye6225/webapp/server.js
Restart=always

[Install]
WantedBy=multi-user.target cloud-init.target


